* {
    margin: 0;
    padding: 0;
    }

body {
    display: flex;
    align-content: center;
    flex-direction: column; 
    font-family: 'comic sans ms',cursive, sans-serif ;
    background-color: white;
    justify-content: center;
}

.nav-container {
    display: flex;
    background-color: #9FC5F8;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 5vh;
    color: white;
    width: 100%;

}

.grande {
    display: flex;
    flex-direction: row;
    margin: 10vh;
    justify-content: space-between;
}

.clima {
    display: flex;
    background-color: #EEEEEE;
    height: 50vh;
    width: 30vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

img {
    border-radius: 50vh;

    height: 20vh;
}

.sanj{
    display: flex;
    margin-left: 10vh; 
    margin-right: 10vh;
    border-bottom: black 1px solid;
    padding: 2vh;
    justify-content: space-between;
}

.dii{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 15vh;
}

.rr{
    color: red;
}

.aa{
    color: blue;
}

.cc{
    display: flex;
    justify-content: end ;
}

.or{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 40vh;
    margin-right: 4vh;
    margin-left: 50vh;
}

.ga{
    display: flex;
    flex-direction: column;

}

.gga{
    display: flex;
    border: 2px black solid;
    width: 90%;

}

.grande{
    display: flex;
    align-items: center;
}

.log {
    border: black solid 1px;
    color: rgb(0, 0, 0);
    margin-top: 7vh;
    margin-bottom: 3vh;
    margin-left: 4vh;
    margin-right: 4vh;
    cursor: pointer;
    background-color: #9FC5F8;
    transition: transform 0.3s ease-in-out;
    box-shadow: black 4px 4px;
    width: 10vh;
    height: 5vh;
}

.log:hover {
    background-color: #7fb5fc;
}