*{
    padding: 0;
    margin: 0;
    outline: solid 1px red;
}
.container{
    display: flex;
    padding: 50px 150px;
}
/* Columnas principales */
.column-container{
    height: 700px;
    flex:1
}

div{
    background-color: #b3b5b4;
}