*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: cornflowerblue;
    padding: 10px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin: 0 15px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(48, 34, 238);
}

.operaciones{
    padding: 50px;
}

button{
    background-color: darksalmon;
    padding: 50px;
    border-radius: 40px;
}